body {
  background-color: rgb(208, 238, 246);
  background-image: url("../images/dust_scratches.png");
}

.jumbotron {
  background-image: url("../images/1.jpg");
}

.display-4 {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(240, 248, 255, 0.5);
}

#wrapper, #saved-articles {
  display: flex;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

.nope {
  background-color: rgb(224, 127, 127);
}

#wrapper h1 {
  text-align: center;
}

#articles {
  display: none;
  overflow: auto;
  width: 90%;
  height: 700px;
  padding: 7px;
}

.article-body {
  margin: 10px;
  background-image: url("../images/2.jpg");
  padding: 7px;
}

.article-body h4 {
  color: black;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.8);
}

.article-body p {
  color: black;
  background-color: rgba(240, 248, 255, 0.8);
}

.article-body a {
  color: black;
  background-color: rgba(240, 248, 255, 0.8);
}

.article-body a, .article-body button {
  margin-right: 60px;
}


#notes {
  width: 30%;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}

#refresh {
  display: none;
}